<div layout="column" class="wrapper">
    <md-content layout-padding>
        
        <div layout="row" layout-align="center">
            <h2>Sua compra foi confirma</h2>
        </div>

        <div layout="row header-page">
            <p>Em instantes voce recebera um email com a confirmação de seu pedido e instruções referentes a cancelamento e reembolso.</p>
        </div>

        <div layout="row">
            <md-button type="button" class="button-black" ng-click="back()">Voltar</md-button>
        </div>
    </md-content>
</div>