<div layout="column" class="wrapper">
    <md-content layout-padding>
        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Total da compra: {{ totalCard() }} </span>
                    <span class="md-headline">Total da itens: {{ cart.length }} </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <form name="clientForm">
            <div layout="row">
                <span>Dados para pagamento:</span>
            </div>

            <div layout="row">
                <md-input-container flex="50">
                    <label>Nome</label>
                    <input type="text" ng-model="purchase.name">
                </md-input-container>

                <md-input-container flex="50">
                    <label>CPF</label>
                    <input type="text" ng-model="purchase.registration_code">
                </md-input-container>
            </div>
        </form>

        <div class="button-float">
            <md-button class="md-fab">
                <i class="material-icons" ng-click="openCart($event)">add_shopping_cart</i>
            </md-button>
        </div>
    </md-content>
</div>