<body layout="row" ng-app="myApp" ng-cloak>
    <div layout-gt-sm="row" layout="column" layout-margin layout-align="start center" layout-align-gt-sm="start start">

        <main flex-md="60" flex-order-gt-sm="2">
            <h1 class="md-title">
                Main Content
            </h1>
    
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu lectus vel libero porta dictum. Donec a lorem consequat, fermentum lorem sed, sollicitudin neque. Pellentesque placerat interdum orci, eget sodales tortor vehicula id.
            </p>
        </main>
    
        <aside flex-md="40" flex-order-gt-sm="1">
            <img src="https://material.angularjs.org/latest/img/washedout.png"/>
        </aside>
    </div>
    <div layout-gt-sm="row" layout="column" layout-margin layout-align="start center" layout-align-gt-sm="start start">
    
        <main flex-md="60" flex-order-gt-sm="2">
            <h1 class="md-title">
                Main Content
            </h1>
    
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu lectus vel libero porta dictum. Donec a lorem consequat, fermentum lorem sed, sollicitudin neque. Pellentesque placerat interdum orci, eget sodales tortor vehicula id.
            </p>
        </main>
    
        <aside flex-md="40" flex-order-gt-sm="1">
            <img src="https://material.angularjs.org/latest/img/washedout.png" />
        </aside>
    </div>    
</body>